<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK8rWB9oS6GYCPzlJ1V5MMnmXaQ9ovg9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1023427592847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationApp</string>
	<key>PROJECT_ID</key>
	<string>education-app-73d7a</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-73d7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023427592847:ios:10b2d1aa021a99e3fa26fa</string>
</dict>
</plist>